body {
  background-color: #B94242;
  opacity: 10%;
  font-family: Roboto;
}

h1, h2, h3 {
  font-family: Montserrat;
  font-weight: regular;
  letter-spacing: 1.5px;
  color: #B94242;
  font-weight: 700;

}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
  color: #B94242!;
}

img {
  width: 200px;
  border-radius: 50%
}

a {
  font-family: Montserrat;
  text-decoration: none;
  color: #B94242;
  font-weight: 500;
}

.fab {
  color: #B94242;
  size: 40px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  }

  #header-card {
  background-color: white;
  }

.text-left {
  text-align: left
}

.button {
  padding: 10px;
  border-color: #B94242;
  border-style: solid;
  border-radius: 5px;
}

.list-skills {
  text-align: left;
  padding-left: 25%;
}

.list-inline > li {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

