body {
  background-color: #B94242;
  opacity: 10%;
  font-family: Roboto;
}

h1, h2, h3 {
  font-family: Montserrat;
  font-weight: regular;
  letter-spacing: 1.5px;
  color: #B94242;
  font-weight: 700;
}

h2 {
  font-size: 25px;
}

p {
  font-weight: 200;
}

li {
  font-weight: 200;
  line-height: 2;
}

ul {
  margin-bottom: 40px;
}

h3 {
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 10px;
}

h4 {
  font-size: 20px;
  color: #B94242!;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}


img {
  width: 200px;
  border-radius: 50%
}

a {
  font-family: Montserrat;
  text-decoration: none;
  color: #B94242;
  font-weight: 500;
}

.fab {
  color: #B94242;
  size: 40px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  }

  #header-card {
  background-color: white;
  }

.text-left {
  text-align: left
}

.button {
  padding: 10px;
  border-color: #B94242;
  border-style: solid;
  border-radius: 5px;
  /*margin-bottom: 80px;*/
  display: block;
  width: 100px;
  margin: 20px auto;
}

.list-skills {
  text-align: left;
  padding-left: 12%;
}

.list-inline > li {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.footer {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  }

  .card img {
  width: 100px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.card {
  width: 200px;
  border-radius: 15px;
  /*box-shadow: 0 0 4px rgb(70,32,26, 0.3);*/
  text-align: center;
  padding: 20px;
  border: 3px solid rgb(70,32,26, 0.2);
  height: 180px;
  margin: 20px;
}

.card p {
  color: #000;
}

.ul-footer {
  margin-bottom: 10px;
}
