
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  }

  #header-card {
  background-color: white;
  }

.card img {
  width: 100px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.card {
  width: 200px;
  border-radius: 15px;
  /*box-shadow: 0 0 4px rgb(70,32,26, 0.3);*/
  text-align: center;
  padding: 20px;
  border: 3px solid rgb(70,32,26, 0.2);
  height: 180px;
  margin: 20px;
}

.card p {
  color: #000;
}
